<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> iOS 17 Video Pausing Issue </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Example</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="tw-flex tw-flex-col tw-space-y-2 tw-max-w-md">
		<video
			preload="auto"
			autoplay
			playsinline="true"
			loop
			controls
			[src]="videoSrc"
		></video>
		<ion-button (click)="sendInterceptedRequest()">
			Send intercepted request
		</ion-button>
		<ion-button (click)="sendUntouchedRequest()">
			Send untouched request
		</ion-button>
	</div>
</ion-content>
